body, div, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  min-width: 300px;
  max-width: 1920px;
}

a {
  color: inherit;
}

.container {
  width: 73%;
  margin: 0 auto;
}

.footer {
  text-align: center;
}

@media (max-width: 1366px) {
  .container {
      width: 80%;
  }
}
 

@media (max-width: 1024px) {
  .container {
      width: 90%;
  }
}

@media (max-width: 300px) {
  body {
      font-size: 14px;
  }
}