.main {
    margin-bottom: 3.5em;
}

@media (max-width: 1024px) {
    .ast-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
}